<style>

h1 {

}

header {
    font-size: 50px;
    font-family: "Brush Script MT";
    text-align: center;
    background-color: #5e92aa;
    margin: 0;
    padding-bottom: 1%;
    position: fixed;
    width: 100%; 
    top: 0;
    color: white;
    z-index: 2;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.banner {
    width: 100%;
    height: 650px;
    background-size: cover;
}

.text-over-image {
    position:absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translate(-10%, -50%, -10%);
    color: white;
    font-size: 30pt;
    z-index: 1;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 9%;
    width: 100%;
    z-index: 2;

}

.navigationlist {
    float: left;
}

.nav-a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav-a:hover {
    background-color: #5e92aa;
    color: white;
}

.active {
    background-color: #5e92aa;
    color: white;
}

.imghome {
    width: 70%;
    border-radius: 25%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10%;
    margin-top: 8%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;

}

.indexmain {
    margin-top: 5%;
    height: 1200px;
    background-color: white;
    font-family: Verdana;
}

main {
    margin-top: 8%;
    margin-left: 0;
    height: 1000px;
    background-color: white;
    font-family: Verdana;
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.imgprofile {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 25%;
    width: 40%;
}

.aside-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.aside-list {
    float: left;
    text-align: center;
    padding: 0px 20px;
}

.aside-a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: silver;
}

.aside-a:hover {
    color: white;
}

.hzlogo {
    width: 3%;
    float: right;
}

.courses {
    border-collapse: collapse;
    box-shadow: 0 0 20px #5e92aa;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border: 2;
    width: 70%;
}

.courses thead {
    background-color: rgb(47, 75, 100);
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid #5e92aa;
}

.courses th, .courses td {
    text-align: center;
}

.courses tbody tr {
    border-bottom: 1px solid #5e92aa;
}

.courses tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.courses tbody tr:last-of-type {
    border-bottom: 1px solid #5e92aa;
}

.imgquestion {
    width: 10%;
    position: absolute;
    right: 0;
    bottom: 10;
}

.blogpost {
    border-top: solid 1px black;
}

.poster {
    width: 40%;
}

.grid3 {
        display: grid;
        grid-template-columns: auto auto;
}

</style>