* {
    margin: 0;
}

h3 {
    color: #413F3D;
}

body {
    background-color: #F2F1EF;
}
header {
    font-size: 50px;
    font-family: "Brush Script MT";
    text-align: center;
    background-color: #697184;
    margin: 0;
    padding-bottom: 1%;
    position: fixed;
    width: 100%; 
    top: 0;
    color: white;
    z-index: 2;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.banner {
    width: 100%;
    height: 650px;
    background-size: cover;
}

.text-over-image {
    position:absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translate(-10%, -50%, -10%);
    color: white;
    font-size: 30pt;
    z-index: 1;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B1A6A4;
    position: fixed;
    top: 9%;
    width: 100%;
    z-index: 2;

}

.navigationlist {
    float: left;
}

.nav-a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav-a:hover {
    background-color: #697184;
    color: white;
}

.active {
    background-color: #697184;
    color: white;
}

.imghome {
    width: 70%;
    border-radius: 25%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10%;
    margin-top: 8%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;

}

.indexmain {
    margin-top: 5%;
    height: 1200px;
    background-color: #F2F1EF;
    font-family: Verdana;
}

main {
    margin-top: 8%;
    margin-left: 0;
    height: 1000px;
    background-color: #F2F1EF;
    font-family: Verdana;
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.imgprofile {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 25%;
    width: 40%;
}

.aside-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.aside-list {
    float: left;
    text-align: center;
    padding: 0px 20px;
}

.aside-a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: silver;
}

.aside-a:hover {
    color: white;
}

.hzlogo {
    width: 3%;
    float: right;
    padding: 3px;
}

.courses {
    border-collapse: collapse;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    font-size: 0.9em;
    font-family: Verdana;
    width: 70%;
    color: #413F3D;
}

.courses thead {
    background-color: #413F3D;
    text-align: center;
}
.courses thead h3 {
    color: #D8CFD0;
}
.courses th {
    border: 2px solid black;
    text-align: center;
}

.courses td {
    border: 1px solid black;
    text-align: center;
}

.imgquestion {
    width: 10%;
    position: absolute;
    right: 0;
    bottom: 10;
}

.blogpost {
    border-top: solid 1px black;
}

.poster {
    width: 300px;
}

.item2 {
    grid-column: 2 / 5;
}

.item5 {
    grid-column: 2 / 3;
}

.item6 {
    grid-column: 3 / 5;
}

.item8 {
    grid-column: 2 / 5;
}

.grid3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px 50px;
        justify-items: center;
}
